:root {
  --swiper-navigation-size: 44px;
}
.swiper-button-prev,
.swiper-button-next {
   font-family: 'Noto Sans KR', sans-serif;
	font-size:24px;
	color:#eaeaea;
	font-weight:400;
	
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: 'Noto Sans KR', sans-serif;
	font-size:24px;
	color:#eaeaea;
	font-weight:400;
	
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  	border:0px solid red;
    border-bottom:2px solid #eaeaea;
	width:13.13vw;
	padding:16px 0;
	text-align:right;
	position:absolute;
	left:0;
	top:50vh;
	z-index:20;	
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    border:0px solid yellow;
    border-bottom:2px solid #eaeaea;
	width:13.13vw;
	padding:16px 0;
	text-align:left;
	font-weight:400;
	position:absolute;
	right:0;
	top:50vh;
	z-index:21;	
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}
.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}
.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000000;
}
.swiper-button-lock {
  display: none;
}



/* arrow2*/
:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev2,
.swiper-button-next2 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev2.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev2:after,
.swiper-button-next2:after {
 /* font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;*/
  
  border:0px solid cyan;
 
}
.swiper-button-prev2,
.swiper-container-rtl .swiper-button-next2 {
  left: 10px;
  right: auto;
  	border:0px solid red;
	width:30px;
	height:100%;
	padding:16px 0;
	text-align:right;
	position:absolute;
	left:30px;
	top:40vh;
	z-index:20;	
	background:url(./../images/main/next01.png) no-repeat 0 0;
	background-size:100%;
}
.swiper-button-prev2:after,
.swiper-container-rtl .swiper-button-next2:after {
  content: 'prev';
  display:none;
}
.swiper-button-next2,
.swiper-container-rtl .swiper-button-prev2 {
    right: 10px;
    left: auto;
    border:0px solid yellow;
	width:30px;
	height:100%;
	padding:16px 0;
	text-align:left;
	font-weight:400;
	position:absolute;
	right:30px;
	top:40vh;
	z-index:21;	
	background:url(./../images/main/next02.png) no-repeat 0 0;
	background-size:100%;
}
.swiper-button-next2:after,
.swiper-container-rtl .swiper-button-prev2:after {
  content: 'next';
  display:none;
}
.swiper-button-prev2.swiper-button-white,
.swiper-button-next2.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}
.swiper-button-prev2.swiper-button-black,
.swiper-button-next2.swiper-button-black {
  --swiper-navigation-color: #000000;
}
.swiper-button-lock {
  display: none;
}

