/*------------------sub01 camera----------------------*/
#product_visual{
	border:0px solid red;
	width:100%;
	height:78%;
	background:url(../images/sub01/sub01_v.png) no-repeat center top;
	background-size:cover;
	position:relative;
}
#product_visual .inner{
	border:0px solid yellow;
	width:100%;
	height:100%;
	margin:0 auto;
	text-align:center;
}
#product_visual .inner h2{
	width:100%;
	text-align:center;
	position:absolute;
	left:0;
	top:50%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:2.8vw;
	color:#fff;
	font-weight:400;
}
#product_visual .inner h2 br{display:none;}
#product_visual .inner .camera-menu{
	background:#000;
	width:100%;
	height:auto;
	position:absolute;
	left:0;
	bottom:0;
}
#product_visual .inner .camera-menu ul{
	width:80%;
	height:100%;
	margin:0 auto;
	text-align:center;
	display: flex;
    justify-content: space-between;
    align-items: center;
	-webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
	-ms-display: flex;
    -ms-justify-content: space-between;
    -ms-align-items: center;
}
#product_visual .inner .camera-menu ul li{
	border:0px solid pink;
}
#product_visual .inner .camera-menu ul li a{
	display:inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:20px;
	color:#fff;
	font-weight:400;
	padding:3vh 0;
	transition-property: color;
	transition-duration: 0.3s; 
	transition-timing-function: linear; 
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s; 
	-webkit-transition-timing-function: linear; 
}
#product_visual .inner .camera-menu ul li a:frist-child{
	padding-left:0;
}
#product_visual .inner .camera-menu ul li a:last-child{
	padding-right:0;
}
#product_visual .inner .camera-menu ul li a:hover{
	color:#c01921;
}
#product_visual .inner .camera-menu ul li a:active{
	font-size:1.25vw;
	color:#c01921;
	font-weight:500;
}
#product_visual .inner .camera-t-menu{display:none;}




/*----------------sub01 c01-------------------*/
#product_c01{
	border:0px solid red;
	width:100%;
	hieght:auto;
	backgorund:#fff;
}
#product_c01 .inner{
	border:0px solid green;
	width:90%;
	hieght:100%;
	margin:0 auto;
	text-align:center;
	/*position:relative;*/
	overflow:hidden;
}
#product_c01 .inner h3{
	border:0px solid blue;
	background:url(../images/sub01/sub01_line.gif) no-repeat center bottom;
	background-size:5.94vw;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.56vw;
	color:#000;
	font-weight:500;
	padding:10vh 0 1vh;
}
#product_c01 .inner .best01{
	border-radius:10px;
	background:url(../images/sub01/sub01_best01.png) no-repeat center top;
	background-size:cover;
	width:43.75vw;
	height:85vh;
	float:left;
	margin-top:4.3vh;
	text-align:center;
	overflow:hidden;
}

#product_c01 .inner .best01 h4{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:36px;
	color:#e7e7e7;
	font-weight:700;
	padding:46vh 0 6.6vh;
}
#product_c01 .inner .best01 h6{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.04vw;
	color:#e7e7e7;
	font-weight:300;
	line-height:2;
}


#product_c01 .inner .best02-05{
	border:0px solid cyan;
	width:43.75vw;
	height:85vh;
	float:right;
	margin-top:4.3vh;
	position:relative;
	overflow:hidden;
	margin-bottom:5vh;
}
#product_c01 .inner .best02-05 .best02{
	width:20.83vw;
	height:40vh;
	border-radius:10px;
	background:#ececec;
	text-align:center;
	position:absolute;
	left:0;
	margin-bottom:5vh;
}
#product_c01 .inner .best02-05 .best03{
	width:20.83vw;
	height:40vh;
	border-radius:10px;
	background:url(../images/sub01/sub01_best03.png) no-repeat center top;
	background-size:cover;
	text-align:center;
	position:absolute;
	right:0;
	margin-bottom:5vh;
}
#product_c01 .inner .best02-05 .best03 h4{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.56vw;
	color:#dadada;
	font-weight:500;
	padding:4.5vh 0 1.5vh;
}
#product_c01 .inner .best02-05 .best03 .best_p{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:0.94vw;
	color:#dadada;
	font-weight:300;
	padding-bottom:1.5vh;
}
#product_c01 .inner .best02-05 .best03 .best_price{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.04vw;
	color:#dadada;
	font-weight:400;
}
#product_c01 .inner .best02-05 .best04{
	width:20.83vw;
	height:40vh;
	border-radius:10px;
	background:url(../images/sub01/sub01_best04.png) no-repeat center top;
	background-size:cover;
	text-align:center;
	position:absolute;
	left:0;
	bottom:0;
}
#product_c01 .inner .best02-05 .best04 h4{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.56vw;
	color:#000;
	font-weight:500;
	padding:3.4vh 0 1.5vh;
}
#product_c01 .inner .best02-05 .best04 .best_p2{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:0.94vw;
	color:#000;
	font-weight:300;
	padding-bottom:1.5vh;
}
#product_c01 .inner .best02-05 .best04 .best_price2{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.04vw;
	color:#000;
	font-weight:400;
}
#product_c01 .inner .best02-05 .best05{
	width:20.83vw;
	height:40vh;
	border-radius:10px;
	background:#ececec;
	text-align:center;
	position:absolute;
	right:0;
	bottom:0;
}
#product_c01 .inner .best02-05 .best_img{
	width:13vw;
	padding-top:10vh;
	margin:0 auto;
}
#product_c01 .inner .best02-05 .best_img a img{width:100%;}




/*-------------------sub01 c02---------------------*/
#product_c02{
	width:100%;
	height:auto;
	margin-bottom:10vh;
}
#product_c02 .inner{
	background:url(../images/sub01/sub01_c02.png) no-repeat center top;
	background-size:cover;
	border-radius:10px;
	width:90%;
	height:100%;
	margin:0 auto;
}
#product_c02 .inner .product_c02_text{
	width:100%;
	text-align:center;
	padding:18.4vh 0 80px;
}
#product_c02 .inner .product_c02_text h5{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:36px;
	color:#fff;
	font-weight:500;
	line-height:1.5;
	padding-bottom:3.3vh;
}
#product_c02 .inner .product_c02_text #c02_text{
	padding-bottom:7.5vh;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:20px;
	color:#fff;
	font-weight:300;
}
#product_c02 .inner .product_c02_text #go{
	width:100%;
}
#product_c02 .inner .product_c02_text #go a{
	background:#fff;
	border-radius:30px;
	width:150px;
	margin:0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:18px;
	color:#000;
	font-weight:500;
	padding:16px 0;
	display:inline-block;
	text-align:center;
	transition-property: background-color;
	transition-property: color;
	transition-duration: 0.3s; 
	transition-timing-function: linear; 
	-webkit-transition-property: background-color;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s; 
	-webkit-transition-timing-function: linear; 
}
#product_c02 .inner .product_c02_text #go a:hover{
	background:#c01921;
	color:#fff;
}


/*--------------------sub01 c03-------------------*/
#product_c03{
	border:0px solid green;
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:15vh;
}
#product_c03 .inner{
	width:90%;
	height:100%;
	margin:0 auto;
}
#product_c03 .inner h3{
	border:0px solid blue;
	background:url(../images/sub01/sub01_line.gif) no-repeat center bottom;
	background-size:5.94vw;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.56vw;
	color:#000;
	font-weight:500;
	padding-bottom:1vh;
	margin-bottom:7.2vh;
}
#product_c03 .inner .control{
	border:0px solid red;
	width:100%;
	overflow:hidden;
}
#product_c03 .inner .control #filter{
	float:left;
}
#product_c03 .inner .control #filtericon{
	width:1.3vw;
	border:0px solid red;
	float:left;
	margin:0.5vh 0 0 0.36vw;
}
#product_c03 .inner .control #filtericon img{
	width:100%;
}

#product_c03 .inner .control #filter a{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.56vw;
	color:#000;
	font-weight:400;
}
#product_c03 .inner .control #popularity a{
	float:right;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.25vw;
	color:#979696;
	font-weight:400;
}
#product_c03 .inner .control #new a{
	float:right;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.25vw;
	color:#000;
	font-weight:400;
}

#product_c03 .inner .product{
	border:0px solid blue;
	width:100%;
}
#product_c03 .inner .product dl{
	border:0px solid blue;
	width:26.04vw;
	height:auto;
	margin:10vh 5.3vw 0 0;
	float:left;
}
#product_c03 .inner .product dl:last-child{
	float:right;
	margin-right:0;
}
#product_c03 .inner .product dl .c03_img{
	border:0px solid black;
	width:23.44vw;
	height:44vh;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

#product_c03 .inner .product dl .c03_img a img{
	width:100%;
}
#product_c03 .inner .product dl .c03_img a .img_1{
	position:absolute;
	opacity: 1;
    transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
}
#product_c03 .inner .product dl .c03_img a .img_2{
	position:absolute;
	opacity: 0;
    transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
}
#product_c03 .inner .product dl .c03_img a:hover .img_1{
	opacity: 0;
}
#product_c03 .inner .product dl .c03_img a:hover .img_2{
	opacity: 1;
}
#product_c03 .inner .product dl .c03_text{
	margin-top:6vh;
	padding-bottom:2vh;
	float:left;
}
#product_c03 .inner .product dl .c03_text a{
	display:inline-block;
	border:0px solid red;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.56vw;
	color:#000;
	font-weight:500;
}
#product_c03 .inner .product dl .heart{
	border:0px solid cyan;
	width:1.77vw;
	margin-top:7.7vh;
	float:right;
}
#product_c03 .inner .product dl .heart a img{width:100%;}
#product_c03 .inner .product dl .c03_t{
	border:0px solid cyan;
	clear:both;
}
#product_c03 .inner .product dl .c03_t a{
	display:inline-block;
	border:0px solid green;
	padding-bottom:2vh;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.04vw;
	color:#2d2d2d;
	font-weight:300;
}
#product_c03 .inner .product dl .c03_price a{
	display:inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.25vw;
	color:#2d2d2d;
	font-weight:400;
}
#product_c03 .inner .m_product{display:none;}

/*----------------------sub01 pagination--------------*/
#pagination{
	width:100%;
	text-align:center;
	margin-bottom:15vh;
}
#pagination li{
	display:inline;
}
#pagination .number a{
	border:0px solid red;
	display:inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:24px;
	color:#000;
	font-weight:500;
	padding:0 14px 10px;
}
#pagination .number:first-child a{
	border-bottom:2px solid red;
	color:red;
}
#pagination .next a{
	border:0px solid red;
	padding:5px 4px 0;
	display:inline-block;
}


/*태블릿형(전체)*/
@media all and (min-width:600px) and (max-width:1279px){
/*----------------sub01 camera 태블릿 시작-------------------*/
	
	#product_visual{
		border:0px solid red;
		width:100%;
		height:100%;
		background:url(../images/sub01/sub01_t_v.png) no-repeat center top;
		background-size:cover;
		position:relative;
	}
	#product_visual .inner{
		border:0px solid yellow;
		width:100%;
		height:100%;
		margin:0 auto;
		text-align:center;
	}
	#product_visual .inner h2{
		width:100%;
		text-align:center;
		position:absolute;
		left:0;
		top:50%;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:40px;
		color:#fff;
		font-weight:400;
	}
	#product_visual .inner h2 br{display:none;}
	#product_visual .inner .camera-menu{
		display:none;
	}
	#product_visual .inner .camera-t-menu{
		display:block;
		background:#000;
		width:100%;
		height:auto;
		position:absolute;
		left:0;
		bottom:0;
	}
	#product_visual .inner .camera-t-menu ul{
		width:93%;
		height:100%;
		margin:0 auto;
		text-align:center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		-webkit-display: flex;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		
		-ms-display: flex;
		-ms-justify-content: space-between;
		-ms-align-items: center;
	}
	#product_visual .inner .camera-t-menu ul li{
		/*display:inline;*/
		border:0px solid pink;
	}
	#product_visual .inner .camera-t-menu ul li a{
		display:inline-block;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.5vw;
		color:#fff;
		font-weight:500;
		padding:3vh 0;
		/*padding:0 0.94vw 0 0.99vw;*/
	}
	#product_visual .inner .camera-t-menu ul li a:frist-child{
		padding-left:0;
	}
	#product_visual .inner .camera-t-menu ul li:last-child a{
		border:0px solid blue;
		background:url(../images/sub01/more.gif) no-repeat right 3.4vh;
		background-size:2.5vw;
		text-align:left;
		padding-right:0;
		width:10.25vw;
	}
	#product_visual .inner .camera-t-menu ul li a:hover{
		color:#c01921;
	}
	#product_visual .inner .camera-t-menu ul li a:active{
		color:#c01921;
		font-weight:500;
	}
	
/*----------------sub01 c01-------------------*/
	#product_c01{
		border:0px solid red;
		width:100%;
		hieght:auto;
		backgorund:#fff;
	}
	#product_c01 .inner{
		border:0px solid green;
		width:93%;
		hieght:100%;
		margin:0 auto;
		text-align:center;
		/*position:relative;*/
		overflow:hidden;
	}
	#product_c01 .inner h3{
		border:0px solid blue;
		background:url(../images/sub01/sub01_line.gif) no-repeat center bottom;
		background-size:11.75vw;
		text-align:center;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3vw;
		color:#000;
		font-weight:500;
		padding:5vh 0 0.8vh;
	}
	#product_c01 .inner .best01{
		border-radius:10px;
		background:url(../images/sub01/sub01_best01.png) no-repeat center top;
		background-size:cover;
		width:100%;
		height:75vh;
		float:none;
		margin-top:3vh;
		text-align:center;
		overflow:hidden;
	}

	#product_c01 .inner .best01 h4{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4.5vw;
		color:#e7e7e7;
		font-weight:700;
		padding:44vh 0 5vh;
	}
	#product_c01 .inner .best01 h6{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.5vw;
		color:#e7e7e7;
		font-weight:300;
		line-height:2;
	}


	#product_c01 .inner .best02-05{
		border:0px solid cyan;
		width:100%;
		height:75vh;
		float:none;
		margin-top:4.3vh;
		position:relative;
		overflow:hidden;
		margin-bottom:5vh;
	}
	#product_c01 .inner .best02-05 .best02{
		width:44vw;
		height:35vh;
		border-radius:10px;
		background:#ececec;
		text-align:center;
		position:absolute;
		left:0;
		margin-bottom:3.5vh;
	}
	#product_c01 .inner .best02-05 .best03{
		width:44vw;
		height:35vh;
		border-radius:10px;
		background:url(../images/sub01/sub01_best03.png) no-repeat center top;
		background-size:cover;
		text-align:center;
		position:absolute;
		right:0;
		margin-bottom:3.5vh;
	}
	#product_c01 .inner .best02-05 .best03 h4{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.75vw;
		color:#dadada;
		font-weight:500;
		padding:4vh 0 1vh;
	}
	#product_c01 .inner .best02-05 .best03 .best_p{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.25vw;
		color:#dadada;
		font-weight:300;
		padding-bottom:1vh;
	}
	#product_c01 .inner .best02-05 .best03 .best_price{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.5vw;
		color:#dadada;
		font-weight:400;
	}
	#product_c01 .inner .best02-05 .best04{
		width:44vw;
		height:35vh;
		border-radius:10px;
		background:url(../images/sub01/sub01_best04.png) no-repeat center top;
		background-size:cover;
		text-align:center;
		position:absolute;
		left:0;
		bottom:0;
	}
	#product_c01 .inner .best02-05 .best04 h4{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.75vw;
		color:#000;
		font-weight:500;
		padding:3vh 0 1vh;
	}
	#product_c01 .inner .best02-05 .best04 .best_p2{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.25vw;
		color:#000;
		font-weight:300;
		padding-bottom:1vh;
	}
	#product_c01 .inner .best02-05 .best04 .best_price2{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.5vw;
		color:#000;
		font-weight:400;
	}
	#product_c01 .inner .best02-05 .best05{
		width:44vw;
		height:35vh;
		border-radius:10px;
		background:#ececec;
		text-align:center;
		position:absolute;
		right:0;
		bottom:0;
	}
	#product_c01 .inner .best02-05 .best_img{
		width:33.13vw;
		padding-top:7vh;
		margin:0 auto;
	}
	#product_c01 .inner .best02-05 .best_img a img{width:100%;}
	
	
	
/*-------------------sub01 c02---------------------*/
	#product_c02{
		width:100%;
		height:auto;
		margin-bottom:5vh;
	}
	#product_c02 .inner{
		background:url(../images/sub01/sub01_c02.png) no-repeat center top;
		background-size:cover;
		border-radius:10px;
		width:90%;
		height:100%;
		margin:0 auto;
	}
	#product_c02 .inner .product_c02_text{
		width:100%;
		text-align:center;
		padding:10.3vh 0 8.5vh;
	}
	#product_c02 .inner .product_c02_text h5{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3vw;
		color:#fff;
		font-weight:500;
		line-height:1.5;
		padding-bottom:2.5vh;
	}
	#product_c02 .inner .product_c02_text #c02_text{
		padding-bottom:3vh;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.5vw;
		color:#fff;
		font-weight:300;
	}
	#product_c02 .inner .product_c02_text #go{
		background:#fff;
		border-radius:30px;
		width:16.25vw;
		margin:0 auto;
	}
	#product_c02 .inner .product_c02_text #go a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:1.75vw;
		color:#000;
		font-weight:500;
		padding:13px 0;
		display:inline-block;
		text-align:center;
	}


	/*--------------------sub01 c03-------------------*/
	#product_c03{
		border:0px solid green;
		width:100%;
		height:auto;
		overflow:hidden;
		margin-bottom:0;
	}
	#product_c03 .inner{
		width:93%;
		height:100%;
		margin:0 auto;
	}
	#product_c03 .inner h3{
		border:0px solid blue;
		background:url(../images/sub01/sub01_line.gif) no-repeat center bottom;
		background-size:11.75vw;
		text-align:center;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3vw;
		color:#000;
		font-weight:500;
		padding-bottom:0.8vh;
		margin-bottom:3.5vh;
	}
	#product_c03 .inner .control{
		border:0px solid red;
		width:100%;
		overflow:hidden;
	}
	#product_c03 .inner .control #filter{
		float:left;
	}
	#product_c03 .inner .control #filtericon{
		width:1.88vw;
		border:0px solid red;
		float:left;
		margin:0.2vh 0 0 0.63vw;
	}
	#product_c03 .inner .control #filtericon img{
		width:100%;
	}
	
	#product_c03 .inner .control #filter a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:20px;
		color:#000;
		font-weight:400;
	}
	#product_c03 .inner .control #popularity a{
		float:right;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:20px;
		color:#979696;
		font-weight:400;
	}
	#product_c03 .inner .control #new a{
		float:right;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:20px;
		color:#000;
		font-weight:400;
	}

	#product_c03 .inner .product{
		border:0px solid blue;
		width:100%;
	}
	#product_c03 .inner .product dl{
		border:0px solid blue;
		width:28.75vw;
		height:auto;
		margin:5vh 3.13vw 5vh 0;
		float:left;
	}
	#product_c03 .inner .product dl:last-child{
		float:right;
		margin-right:0;
	}
	#product_c03 .inner .product dl .c03_img{
		border:0px solid black;
		width:100%;
		height:20vh;
		margin:0 auto;
	}

	#product_c03 .inner .product dl .c03_img a img{
		width:100%;
	}
	#product_c03 .inner .product dl .c03_text{
		width:23.13vw;
		margin-top:2vh;
		padding-bottom:1.3vh;
		float:left;
	}
	#product_c03 .inner .product dl .c03_text a{
		display:inline-block;
		border:0px solid red;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.25vw;
		color:#000;
		font-weight:500;
	}
	#product_c03 .inner .product dl .c03_text br{display:none;}
	#product_c03 .inner .product dl .heart{
		border:0px solid cyan;
		width:1.9vw;
		margin-top:2.5vh;
		float:right;
	}
	#product_c03 .inner .product dl .heart a img{width:100%;}
	#product_c03 .inner .product dl .c03_t{
		clear:both;
		padding-bottom:1vh;
	}
	#product_c03 .inner .product dl .c03_t a{
		display:inline-block;
		border:0px solid green;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:1.5vw;
		color:#2d2d2d;
		font-weight:300;
	}
	#product_c03 .inner .product dl .c03_price a{
		display:inline-block;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2vw;
		color:#2d2d2d;
		font-weight:400;
	}
	#product_c03 .inner .m_product{display:none;}
	
/*----------------------sub01 pagination--------------*/
	#pagination{
		width:100%;
		text-align:center;
		margin-bottom:10vh;
	}
	#pagination li{
		display:inline;
	}
	#pagination .number a{
		border:0px solid red;
		display:inline-block;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:20px;
		color:#000;
		font-weight:500;
		padding:0 14px 10px;
	}
	#pagination .number:first-child a{
		border-bottom:2px solid red;
		color:red;
	}
	#pagination .next{
		width:2.63vw;
	}
	#pagination .next a{
		border:0px solid red;
		padding:4px 6px 0;
		display:inline-block;
	}
	#pagination .next a img{
		width:100%;
	}
	


}/*태블릿 끝*/

/*모바일형(전체)*/
@media all and (max-width:599px){
	/*----------------sub01 camera 모바일 시작-------------------*/
	
	#product_visual{
		border:0px solid red;
		width:100%;
		height:100%;
		background:url(../images/sub01/sub01_t_v.png) no-repeat center top;
		background-size:cover;
		position:relative;
	}
	#product_visual .inner{
		border:0px solid yellow;
		width:63%;
		height:100%;
		margin:0 auto;
		text-align:center;
	}
	#product_visual .inner h2{
		width:100%;
		text-align:center;
		position:absolute;
		left:0;
		top:40%;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:7.2vw;
		color:#fff;
		font-weight:400;
		line-height:1.5;
	}
	#product_visual .inner h2 br{display:block;}
	#product_visual .inner .camera-menu{display:none;}
	#product_visual .inner .camera-t-menu{
		display:block;
		background:#000;
		width:100%;
		height:auto;
		position:absolute;
		left:0;
		bottom:0;
	}
	#product_visual .inner .camera-t-menu ul{
		width:93%;
		height:100%;
		margin:0 auto;
		text-align:center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		-webkit-display: flex;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		
		-ms-display: flex;
		-ms-justify-content: space-between;
		-ms-align-items: center;
	}
	#product_visual .inner .camera-t-menu ul li{
		/*display:inline;*/
		border:0px solid pink;
	}
	#product_visual .inner .camera-t-menu ul li a{
		display:inline-block;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4vw;
		color:#fff;
		font-weight:500;
		padding:3vh 0;
		/*padding:0 0.94vw 0 0.99vw;*/
	}
	#product_visual .inner .camera-t-menu ul li a:frist-child{
		padding-left:0;
	}
	#product_visual .inner .camera-t-menu ul li:nth-child(4){display:none;}
	#product_visual .inner .camera-t-menu ul li:last-child a{
		border:0px solid blue;
		background:url(../images/sub01/more.gif) no-repeat right 3.5vh;
		background-size:3.8vw;
		text-align:left;
		width:15.6vw;
	}
	#product_visual .inner .camera-t-menu ul li a:hover{
		color:#c01921;
	}
	#product_visual .inner .camera-t-menu ul li a:active{
		color:#c01921;
		font-weight:500;
	}
	
/*----------------sub01 c01-------------------*/
	#product_c01{
		border:0px solid red;
		width:100%;
		hieght:auto;
		backgorund:#fff;
	}
	#product_c01 .inner{
		border:0px solid green;
		width:93%;
		hieght:100%;
		margin:0 auto;
		text-align:center;
		/*position:relative;*/
		overflow:hidden;
	}
	#product_c01 .inner h3{
		border:0px solid blue;
		background:url(../images/sub01/sub01_line.gif) no-repeat center bottom;
		background-size:19vw;
		text-align:center;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4vw;
		color:#000;
		font-weight:500;
		padding:5vh 0 0.8vh;
	}
	#product_c01 .inner .best01{
		border-radius:10px;
		background:url(../images/sub01/sub01_best01.png) no-repeat center top;
		background-size:cover;
		width:100%;
		height:75vh;
		float:none;
		margin-top:3vh;
		text-align:center;
		overflow:hidden;
	}

	#product_c01 .inner .best01 h4{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:7.2vw;
		color:#e7e7e7;
		font-weight:700;
		padding:44vh 0 5vh;
	}
	#product_c01 .inner .best01 h6{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.6vw;
		color:#e7e7e7;
		font-weight:300;
		line-height:2;
	}


	#product_c01 .inner .best02-05{
		border:0px solid cyan;
		border-radius:10px;
		width:100%;
		height:60vh;
		float:none;
		margin-top:4.3vh;
		position:relative;
		overflow:hidden;
		margin-bottom:5vh;
	}
	#product_c01 .inner .best02-05 .best02{
		width:50%;
		height:30vh;
		border-radius:0;
		background:#ececec;
		text-align:center;
		position:absolute;
		left:0;
		margin-bottom:2vh;
	}
	#product_c01 .inner .best02-05 .best03{
		width:50%;
		height:30vh;
		/*border-top-right-radius:10px;*/
		border-radius:0;
		background:url(../images/sub01/sub01_best03.png) no-repeat center top;
		background-size:cover;
		text-align:center;
		position:absolute;
		right:0;
		margin-bottom:2vh;
	}
	#product_c01 .inner .best02-05 .best03 h4{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:20px;
		color:#dadada;
		font-weight:500;
		padding:2.5vh 0 1vh;
	}
	#product_c01 .inner .best02-05 .best03 .best_p{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:12px;
		color:#dadada;
		font-weight:300;
		padding-bottom:1vh;
	}
	#product_c01 .inner .best02-05 .best03 .best_price{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:14px;
		color:#dadada;
		font-weight:400;
	}
	#product_c01 .inner .best02-05 .best04{
		width:50%;
		height:30vh;
		/*border-bottom-left-radius:10px;*/
		border-radius:0;
		background:url(../images/sub01/sub01_best04.png) no-repeat center top;
		background-size:cover;
		text-align:center;
		position:absolute;
		left:0;
		bottom:0;
	}
	#product_c01 .inner .best02-05 .best04 h4{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4vw;
		color:#000;
		font-weight:500;
		padding:2vh 0 0.8vh;
	}
	#product_c01 .inner .best02-05 .best04 .best_p2{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:12px;
		color:#000;
		font-weight:300;
		padding-bottom:0.8vh;
	}
	#product_c01 .inner .best02-05 .best04 .best_price2{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:14px;
		color:#000;
		font-weight:400;
	}
	#product_c01 .inner .best02-05 .best05{
		width:50%;
		height:30vh;
		/*border-bottom-right-radius:10px;*/
		border-radius:0;
		background:#ececec;
		text-align:center;
		position:absolute;
		right:0;
		bottom:0;
	}
	#product_c01 .inner .best02-05 .best_img{
		width:37vw;
		padding-top:7vh;
		margin:0 auto;
	}
	#product_c01 .inner .best02-05 .best_img a img{width:100%;}
	
	
	
/*-------------------sub01 c02---------------------*/
	#product_c02{
		width:100%;
		height:auto;
		margin-bottom:5vh;
	}
	#product_c02 .inner{
		background:url(../images/sub01/sub01_c02_m.png) no-repeat center top;
		background-size:cover;
		border-radius:10px;
		width:90%;
		height:100%;
		margin:0 auto;
	}
	#product_c02 .inner .product_c02_text{
		width:100%;
		text-align:center;
		padding:16.5vh 0 7.6vh;
	}
	#product_c02 .inner .product_c02_text h5{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4.8vw;
		color:#fff;
		font-weight:500;
		line-height:1.5;
		padding-bottom:2.4vh;
	}
	#product_c02 .inner .product_c02_text #c02_text{
		padding-bottom:3vh;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.8vw;
		color:#fff;
		font-weight:300;
	}
	#product_c02 .inner .product_c02_text #go{
		background:#fff;
		border-radius:30px;
		width:26vw;
		margin:0 auto;
	}
	#product_c02 .inner .product_c02_text #go a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.8vw;
		color:#000;
		font-weight:500;
		padding:13px 0;
		display:inline-block;
		text-align:center;
	}


	/*--------------------sub01 c03-------------------*/
	#product_c03{
		border:0px solid green;
		width:100%;
		height:auto;
		overflow:hidden;
		margin-bottom:0;
	}
	#product_c03 .inner{
		width:93%;
		height:100%;
		margin:0 auto;
	}
	#product_c03 .inner h3{
		border:0px solid blue;
		background:url(../images/sub01/sub01_line.gif) no-repeat center bottom;
		background-size:19vw;
		text-align:center;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4vw;
		color:#000;
		font-weight:500;
		padding:5vh 0 0.8vh;
	}
	#product_c03 .inner .control{
		border:0px solid red;
		width:100%;
		overflow:hidden;
		margin-bottom:3vh;
	}
	#product_c03 .inner .control #filter{
		float:left;
	}
	#product_c03 .inner .control #filtericon{
		width:3.75vw;
		border:0px solid red;
		float:left;
		margin:0.4vh 0 0 1.04vw;
	}
	#product_c03 .inner .control #filtericon img{
		width:100%;
	}

	
	#product_c03 .inner .control #filter a{
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.6vw;
		color:#000;
		font-weight:400;
	}
	#product_c03 .inner .control #popularity a{
		float:right;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.6vw;
		color:#979696;
		font-weight:400;
	}
	#product_c03 .inner .control #new a{
		float:right;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.6vw;
		color:#000;
		font-weight:400;
	}

	#product_c03 .inner .product{
		display:none;
	}
	#product_c03 .inner .m_product {
		display:block;
		width:100%;
		height:auto;
	}
	#product_c03 .inner .m_product .m_product01{
		width:100%;
		height:100%;
	}
	#product_c03 .inner .m_product .m_product01 dl{
		border:0px solid blue;
		width:41.2vw;
		height:30vh;
		margin:3vh 0;
		float:left;
		min-height:200px;
	}
	#product_c03 .inner .m_product .m_product01 dl:last-child{
		float:right;
		margin-right:0;
	}
	#product_c03 .inner .m_product .m_product01 dl .c03_img{
		border:0px solid black;
		width:100%;
		margin:0 auto;
	}

	#product_c03 .inner .m_product .m_product01 dl .c03_img a img{
		width:100%;
	}
	#product_c03 .inner .m_product .m_product01 dl .c03_text{
		width:32vw;
		margin-top:2vh;
		padding-bottom:1.3vh;
		float:left;
	}
	#product_c03 .inner .m_product .m_product01 dl .c03_text a{
		display:inline-block;
		border:0px solid red;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.6vw;
		color:#000;
		font-weight:500;
		line-height:1.3;
	}
	#product_c03 .inner .m_product .m_product01 dl .c03_text br{display:none;}
	#product_c03 .inner .m_product dl .heart{
		border:0px solid cyan;
		width:3.5vw;
		margin-top:2.5vh;
		float:right;
	}
	#product_c03 .inner .m_product .m_product01 dl .heart a img{width:100%;}
	#product_c03 .inner .m_product .m_product01 dl .c03_t{
		clear:both;
	}
	#product_c03 .inner .m_product .m_product01 dl .c03_t a{
		display:inline-block;
		border:0px solid green;
		padding-bottom:1vh;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:2.4vw;
		color:#2d2d2d;
		font-weight:300;
	}
	#product_c03 .inner .m_product .m_product01 dl .c03_price a{
		display:inline-block;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:3.2vw;
		color:#2d2d2d;
		font-weight:400;
	}
	
/*----------------------sub01 pagination--------------*/
	#pagination{
		width:100%;
		text-align:center;
		margin:5vh 0 10vh;
	}
	#pagination li{
		display:inline;
	}
	#pagination .number a{
		border:0px solid red;
		display:inline-block;
		font-family: 'Noto Sans KR', sans-serif;
		font-size:4vw;
		color:#000;
		font-weight:500;
		padding:0 14px 10px;
	}
	#pagination .number:first-child a{
		border-bottom:2px solid red;
		color:red;
	}
	#pagination .next{
		width:2.63vw;
	}
	#pagination .next a{
		border:0px solid red;
		padding:4px 6px 0;
		display:inline-block;
	}
	#pagination .next a img{
		width:100%;
	}
	
}/*모바일끝*/